<button class="btn btn-primary expand-button"  onclick="expandcard(${selectedJobId}, ${applicant.id})">Expand</button>
                                        </div>
                                        <div  style="width:auto;" >
                                            <button class="btn btn-primary expand-button"  onclick="mailint(${selectedJobId}, ${applicant.id})">Mail</button>
                                        </div>
                                        <div  style="width:auto;" >
                                            <button class="btn btn-primary expand-button"  onclick="shortlistint(${selectedJobId}, ${applicant.id})">Shortlist</button>
                                        </div>
                                        <div  style="width:auto;" >
                                            <button class="btn btn-primary expand-button"  onclick="downloadresumeint(${selectedJobId}, ${applicant.id})">Download Resume</button>
                                        </div>